@import '../../scss/colors.scss';

.consultation {
    background-color: map-get($brownColors, 'brown2');

}


.consultation-banner {
    background-color: map-get($orangeColors, 'orange1');
    width: 1180px;
    height: 375px;
    
}

.consultation-forms {
    display: flex;
    justify-content: space-evenly;
}
