.a1 {
    text-decoration: none;
    font-family: 'FiraSans';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: capitalize;
}

.a2 {
  text-decoration: none;
  font-family: 'FiraSans';
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: capitalize;
}

.a3 {
  text-decoration: none;
  font-family: 'FiraSans';
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-transform: capitalize;
}

.a4 {
  text-decoration: none;
  font-family: Fira Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-transform: capitalize;
}

.a5 {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
  text-transform: capitalize;
}
  
  