.button-text-large {
    font-family: 'PlayfairDisplay';
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: capitalize;
}

.button-text {
  font-family: 'PlayfairDisplay';
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: capitalize;
}
  