.header-banner {
    height: 1000px;
    background: url('../../assets/images/banner.png');
    background-repeat: no-repeat;
    display: flex;
}

.promo-banner {
    display: flex;
    justify-content: space-between;
}

.banner-title {
    width: 671px;
}

.paragraph {
    width: 301px;
}

.button-small {
    padding-top: 600px;
}