.header-banner {
    height: 1000px;
    background: url('../../assets/images/banner.png');
}

.promo-banner {
    display: flex;
    justify-content: space-between;
}

.banner-title {
    width: 671px;
}

.pharagraph {
    width: 301px;
}