@import '../../scss/colors.scss';

.header {
    padding-top: 38px;
    background-color: map-get($brownColors, 'brown2');
    min-height: 870px;

    &__top-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        position: absolute;
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }
}

.user-links {
    &__item {
        margin-left: 30px;
    }
    
}

.navigation__link {
    margin-left: 30px;  
}

