@import '../../scss/colors.scss';
@import '../../scss/breakpoints.scss';

.header {
    padding-top: 38px;
    background-color: map-get($brownColors, 'brown2');
    min-height: 870px;

    // &__top-navigation {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }

    &__logo {
        position: absolute;
    }
}

.top-navigation {
    display: flex;
    justify-content: space-evenly;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.address-links {
    display: flex;
    justify-content: flex-end;
}

.address {
    display: flex;
    width: 156px;
    height: 38px;
}

.telephone {
    display: flex;
    justify-content: space-between;
    width: 197px;
    height: 48px;
}
